#hero-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.hero-slide.active {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.slide1 .hero-bg {
  background-image: url("../images/banners/michael-kyule-MYiPCgvCwOE-unsplash.jpg");
}

.slide2 .hero-bg {
  background-image: url("../images/banners/javier-esteban-PUeFpAyqTmU-unsplash.jpg");
}

.slide3 .hero-bg {
  background-image: url("../images/banners/kate-laine-PLH1lwjWvVg-unsplash.jpg");
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: brightness(0.5);
  transition: transform 1.5s ease;
}

.hero-slide.active .hero-bg {
  transform: scale(1.02);
}

.hero-content {
  position: relative;
  z-index: 3;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 2rem;
}

.hero-content h1 {
  font-size: 3.6rem;
  margin-bottom: 1.2rem;
}

.hero-content p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.85);
}

.cta-btn {
  margin: 2rem 0;
  padding: 1rem 2.5rem;
  color: white;
  border: 2px solid white;
  border-radius: 0.5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s;
}

.cta-btn:hover {
  background: var(--accent-colour);
}

.hero-dots {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
}

.hero-dots .dot {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.hero-dots .dot.active {
  background: var(--accent-colour);
}

h2 {
  font-family: var(--secondary-font);
  font-size: clamp(3rem, 10vw, 3rem);
  font-weight: 700;
  color: var(--typography-colour);
  letter-spacing: -0.5px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

/* category section */

.section-info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 3rem;
}

section p {
  max-width: 100rem;
}

.index-category {
  width: 100%;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.index-category a {
  text-decoration: none;
}

.category-box {
  width: 30rem;
  height: 30rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.category-box:nth-child(1) {
  background-image: url(../images/categories/Oversized\ Solid\ Color\ Pullover\ Hoodie\ Sweatshirt\ -\ Blue\ _\ M.jpeg);
}

.category-box:nth-child(2) {
  background-image: url(../images/categories/pexels-tdcat-437037.jpg);
}

.category-box:nth-child(3) {
  background-image: url(../images/categories/pexels-leah-newhouse-50725-691046.jpg);
}

.category-box:nth-child(4) {
  background-image: url(../images/categories/Unbranded\ Accessories\ _\ Original\ Og\ Narrow\ Dark\ Black\ Frame\ Rectangular\ Black\ Square\ Shades\ Sunglasses\ _\ Color_\ Black\ _\ Size_\ Os.jpeg);
}

.dark-overlay {
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.6;
  transition: all ease-in-out 200ms;
}

.category-box:hover .dark-overlay {
  opacity: 0.2;
}

.category-box h3 {
  color: white;
  font-family: var(--secondary-font);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-align: center;
  text-shadow: -0.2rem 0.2rem 0.4rem #000;
  text-transform: uppercase;
  z-index: 1;
}

#featured-products-section {
  padding: 5rem 10rem;
  width: 100%;
  text-align: center;
}

#featured-product-list,
.featured-products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  justify-items: center;
  align-content: center;
  gap: 2rem;
}

#featured-products-section .product,
.featured-products-grid .product {
  width: 100%;
  max-width: 30rem;
  height: 40rem;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#featured-products-section .image-holder,
.featured-products-grid .image-holder {
  position: relative;
  min-width: 30rem;
  min-height: 30rem;
  border-radius: 10px;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.311);
  padding: 5rem 4rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--product-card-bg);
}

#featured-products-section .product img,
.featured-products-grid .product img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

#featured-products-section .product-title,
.featured-products-grid .product-title {
  font-size: 1.3rem;
  font-weight: 450;
  line-height: 1.4rem;
  padding: 1rem 0;
}

#featured-products-section .product-price,
.featured-products-grid .product-price {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.6rem;
}


.add-to-cart-btn {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.57);
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition:
    opacity 200ms ease,
    transform 200ms ease;
  z-index: 5;
}

#featured-products-section .add-to-cart-btn svg,
#featured-products-section .add-to-cart-btn path,
.featured-products-grid .add-to-cart-btn svg,
.featured-products-grid .add-to-cart-btn path {
  fill: rgba(246, 246, 246, 1);
  width: 2.5rem;
  height: 2.5rem;
}

#featured-products-section .image-holder:hover .add-to-cart-btn,
.featured-products-grid .image-holder:hover .add-to-cart-btn {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-4px);
  background-color: var(--accent-colour);
}

#featured-products-section .image-holder .add-to-cart-btn:hover,
.featured-products-grid .image-holder .add-to-cart-btn:hover {
  background-color: var(--accent-colour-light);
}

#featured-products-section .add-to-cart-btn:focus,
.featured-products-grid .add-to-cart-btn:focus {
  outline: 2px solid #fff8;
  opacity: 1;
  pointer-events: auto;
}

.latest-arrivals-section {
  margin: 0 0 5rem 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.scroll-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5%;
  overflow: hidden;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 2rem;
  padding: 1rem 0;
  width: 100%;
  max-width: 100vw;
  scrollbar-width: none;
}
.scroll-container::-webkit-scrollbar {
  display: none;
}

.scroll-btn {
  position: absolute;
  background: var(--accent-colour);
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  transition:
    transform 0.2s ease,
    opacity 0.3s ease;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.scroll-btn.left {
  left: 2rem;
}

.scroll-btn.right {
  right: 2rem;
}

.scroll-btn svg {
  height: 90%;
  width: 90%;
  aspect-ratio: 1 / 1;
  fill: white;
}
.scroll-btn:hover {
  transform: scale(1.1);
  opacity: 1;
}

.scroll-container .product {
  flex: 0 0 30rem;
  background: var(--product-card-bg);
  border-radius: 1.6rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.325);
  overflow: hidden;
  position: relative;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.scroll-container .product:hover {
  transform: translateY(-0.6rem);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.scroll-container .image-holder {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 26rem;
  padding: 1rem;
}
.scroll-container .image-holder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
  transition: transform 0.3s ease;
  background-color: var(--product-card-bg);
}
.scroll-container .product:hover img {
  transform: scale(1.08);
}

.scroll-container .add-to-cart-btn {
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  bottom: 0rem;
  right: 0rem;
  width: 4rem;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.57);
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition:
    opacity 200ms ease,
    transform 200ms ease;
  z-index: 5;
}

.scroll-container .product:hover .add-to-cart-btn {
  opacity: 1;
  transform: translateY(0);
  background-color: var(--accent-colour);
}

.scroll-container .product .add-to-cart-btn:hover {
  background-color: var(--accent-colour-light);
}

.scroll-container .add-to-cart-btn svg {
  fill: #fff;
  width: 2rem;
  height: 2rem;
}

.scroll-container .add-to-cart-btn:focus {
  outline: 2px solid #fff8;
  opacity: 1;
  pointer-events: auto;
}
.scroll-container .product-title {
  height: 5rem;
  width: 90%;
  font-size: 1.4rem;
  margin: 1.2rem 0 0.6rem;
  color: var(--typography-colour);
  font-weight: 500;
  overflow: hidden;
}

.scroll-container .product-price {
  font-size: 1.4rem;
  color: var(--typography-colour);
  font-weight: 600;
  display: block;
  margin-bottom: 1.2rem;
}

@media (max-width: 1024px) {
  .category-box {
    width: 25rem;
    height: 25rem;
  }

  #featured-products-section {
    padding: 5rem 2rem;
  }

  #featured-product-list {
    width: 100%;
    padding: 5rem 0;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
    gap: 1rem;
  }

  #featured-products-section .image-holder {
    width: 100%;
    min-width: none;
    min-height: none;
  }

  .scroll-wrapper {
  }

  .scroll-container {
    gap: 1rem;
  }

  .scroll-container .product {
    flex: 0 0 clamp(14rem, 40%, 25rem);
  }

  .scroll-container .image-holder {
    height: clamp(16rem, 35vw, 20rem);
  }

  #featured-product-list .product {
    padding: 1rem;
    min-height: 40rem;
    width: 100%;
  }

  #featured-product-list .image-holder {
    min-width: 100%;
    min-height: 32rem;
    padding: 3rem 2rem;
    margin: 0.5rem;
  }
}

@media (max-width: 768px) {
  .category-box {
    width: 25rem;
    height: 25rem;
  }

  .add-to-cart-btn, .scroll-container .add-to-cart-btn {
    display: none;
  }

  #featured-products-section {
    padding: 5rem 2rem;
  }

  #featured-product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  #featured-products-section .image-holder {
    min-width: 20rem;
    min-height: 20rem;
  }

  .scroll-container {
    gap: 1rem;
  }

  .scroll-container .product {
    flex: 0 0 clamp(14rem, 40%, 25rem);
  }

  .scroll-container .image-holder {
    height: clamp(16rem, 35vw, 20rem);
  }

  .scroll-btn {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.6rem;
  }

  #featured-product-list {
    padding: 5rem 2rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  #featured-product-list .product {
    padding: 1rem;
    min-height: 40rem;
    width: 100%;
  }

  #featured-product-list .image-holder {
    min-width: 100%;
    min-height: 32rem;
    padding: 3rem 2rem;
    margin: 0.5rem;
  }
}

@media (max-width: 620px) {
  .scroll-container .product-title {
    height: 5rem;
    width: 90%;
    font-size: 1.4rem;
    margin: 1.2rem 0 0.6rem;
    color: var(--typography-colour);
    font-weight: 500;
  }

  #featured-product-list {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
  }
}

@media (max-width: 600px) {
  .category-box {
    height: 20rem;
    width: 20rem;
  }
}

@media (max-width: 480px) {
  .category-box {
    height: 17rem;
    width: 17rem;
  }

  .scroll-wrapper {
    padding: 2rem 2%;
  }

  .scroll-container {
    gap: 1rem;
    padding: 1rem;
  }

  .scroll-container .product {
    flex: 0 0 clamp(20rem, 40%, 25rem);
  }

  .scroll-container .image-holder {
    height: clamp(16rem, 35vw, 20rem);
  }

  .scroll-btn {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.6rem;
  }

  #featured-product-list {
    gap: 0;
  }

  #featured-product-list .product {
    justify-content: center;
    gap: 0;
    height: 35rem;
    min-height: 35rem;
  }

  #featured-product-list .image-holder {
    min-width: 100%;
    height: 25rem;
    min-height: 25rem;
    padding: 3rem 2rem;
    margin: 0.5rem;
  }

  .scroll-btn {
    width: 3rem;
    height: 3rem;
    font-size: 1.4rem;
  }
}
