/*Satoshi Font*/
@import url("https://fonts.cdnfonts.com/css/satoshi");

/*Neue Montreal Font*/
@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

:root {
  --primary-colour: rgba(56, 51, 99, 1);
  --accent-colour: rgba(94, 23, 235, 1);
  --accent-colour-light: rgb(115, 55, 236);
  --accent-colour-dark: rgb(74, 19, 185);
  --background-colour: rgba(246, 246, 246, 1);
  --transparent-colour: rgba(246, 246, 246, 0);
  --background-colour-2: #222;
  --input-colour: #e7e7e7;
  --product-card-bg: rgb(228, 228, 228);
  --product-card-bg-light: rgb(228, 228, 228);
  --grey-bg: rgb(224, 224, 224);
  --typography-colour: rgba(44, 44, 44, 1);
  --primary-font: "Satoshi", sans-serif;
  --secondary-font: "PP Neue Montreal", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

.darktheme {
  --primary-colour: rgb(99, 86, 174);
  --accent-colour: rgba(94, 23, 235, 1);
  --background-colour: rgb(26, 26, 26);
  --product-card-bg: rgb(44, 44, 44);
  --product-card-bg-light: rgb(97, 97, 97);
  --grey-bg: rgb(44, 44, 44);
  --typography-colour: rgb(231, 231, 231);
}

body {
  /*min-height: 100vh;*/
  background: var(--background-colour);
  color: var(--typography-colour);
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: var(--primary-font);
}

main {
  min-height: 100vh;
}

h1,
h2 {
  font-family: var(se); /* Heading font */
}

header {
  position: sticky;
  top: 0;
  height: 6rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 99;
}

.nav-container {
  height: 6rem;
  width: 100%;
  background-color: var(--background-colour);
  border-bottom: 1.5px var(--typography-colour) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-logo {
  width: fit-content;
  height: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-logo svg {
  height: 50%;
  width: 50%;
}

.nav-logo a {
  font: var(--secondary-font);
  color: var(--typography-colour);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-logo a:hover {
  color: var(--accent-colour);
}

.nav-menu {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu.sub {
  display: none;
}

.nav-actions {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.header-actions {
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: flex-end;
  gap: 2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 25rem;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.cart-holder {
  text-decoration: none;
  color: white;
  background-color: var(--accent-colour);
  font-weight: 700;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

.mobile-cart-container {
  width: fit-content;
  text-decoration: none;
  color: white;
  background-color: var(--accent-colour);
  font-weight: 700;
  border-radius: 1.5rem;
  padding: 0.5rem 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
}

.cart-holder svg path,
.mobile-cart-container svg path {
  fill: white;
}

.cart-holder:hover,
.mobile-cart-container:hover {
  background-color: var(--accent-colour-dark);
}

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background: var(--product-card-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.search-box {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 12px;

  max-width: 600px;
}

#search-input {
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
  height: 4rem;
  padding: 1em;
  font: inherit;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.299);
  border-radius: 1rem;
  border: 2px solid var(--input-colour);
  background-color: var(--input-colour);
  transition: 150ms ease;
}

#search-input:hover {
  border: 2px solid var(--accent-colour);
}

#search-input:focus {
  outline: none;
  border-color: var(--background-colour-2);
}

#search-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: white;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
  cursor: pointer;
  color: black;
  transition: 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.299);
}

#search-clear {
  background: none;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;
  color: var(--text-colour, #333);
  margin-left: -30px;
}

.search-icon {
  fill: var(--typography-colour);
  cursor: pointer;
}

.search-icon.mobile {
  display: none;
}

#search-clear:hover {
  color: var(--accent-colour);
}

#search-close:hover {
  color: var(--accent-colour);
  background-color: rgb(221, 221, 221);
  border: 1px solid var(--background-colour-2);
}

.navlinks {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  gap: 5rem;
}

.navlinks li.dropdown {
  position: relative;
}

#category-parent {
  display: none;
}

.navlinks li.dropdown a {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  gap: 0.5rem;
}

li.dropdown a:hover #dropdown {
  fill: var(--accent-colour);
}

#dropdown-arrow {
  fill: var(--typography-colour);
  height: 2rem;
  width: 2rem;
}

.navlinks li.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: -1.1rem;
  background-color: var(--background-colour);
  list-style: none;
  padding: 1rem 1rem;
  min-width: 15rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.34);
  z-index: 99;
}

.navlinks li.dropdown:hover .dropdown-menu {
  display: block;
}

.navlinks li.dropdown .dropdown-menu li a {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: var(--typography-colour);
  text-decoration: none;
  transition: 0.2s ease;
}

.navlinks li.dropdown .dropdown-menu li a:hover {
  background-color: var(--product-card-bg);
}

.navlinks a {
  text-decoration: none;
  color: var(--typography-colour);
  transition: all 0.1s ease;
  display: block;
}

a.active {
  color: var(--accent-colour);
  font-weight: bold;
}

.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  backdrop-filter: blur(4px);
}

.burger-container {
  display: none;
  width: fit-content;
}

.burgerbutton {
  background: none;
  outline: none;
  border: none;
}

.burgerbutton svg {
  height: 3rem;
  width: 3rem;
  color: var(--accent-colour);
  cursor: pointer;
}

.burgerbutton svg {
  fill: var(--typography-colour);
}

.closeBtn {
  cursor: pointer;
  display: none;
}

.closeBtn svg {
  fill: var(--typography-colour);
}

main {
  height: 100%;
  width: 100%;
}

section {
  height: 100%;
  width: 100%;
}

.back-to-top {
  display: none;
  position: fixed;
  width: 4rem;
  height: 5rem;
  bottom: 2rem;
  right: 2rem;
  z-index: 0;
  border: none;
  outline: none;
  background-color: var(--product-card-bg);
  color: var(--typography-colour);
  cursor: pointer;
  padding: 0;
  border-radius: 50px;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  font-size: 2rem;
  transition: all 0.5s ease 0s;
}

.back-to-top:hover {
  background-color: var(--accent-colour);
  color: var(--background-colour);
}

footer {
  height: 5rem;
  width: 100%;
  background-color: var(--background-colour-2);
  border-top: solid 1px rgba(246, 246, 246, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 1.1rem;
  line-height: 100%;
  color: rgba(246, 246, 246, 1);
  text-transform: uppercase;
}

#user-greeting {
  display: none;
  width: 25rem;
  height: 5rem;
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-colour);
  color: var(--background-colour);
  padding: 0rem 1rem;
  border-radius: 5px;
  font-size: 1.6rem;
  line-height: 5rem;
  text-align: center;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  z-index: 100;
}

.login-container {
  width: fit-content;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font: var(--secondary-font);
  text-transform: capitalize;
  transition: color 0.3s ease;
  /*background-color: red;*/
}

.login-details {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.login-container a {
  text-decoration: none;
  color: var(--typography-colour);
  transition: color 0.3s ease;
}

.login-container a:hover {
  text-decoration: underline;
  color: var(--accent-colour);
}

.login-container svg {
  fill: var(--typography-colour);
  height: 3rem;
  width: 3rem;
}

.login-container a:hover ~ svg path {
  fill: var(--accent-colour);
}

/*Theme button*/
.theme-btn {
  position: fixed;
  top: 7rem;
  right: 1rem;
  width: 4rem;
  height: 4rem;
  background-color: var(--grey-bg);
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.theme-btn:hover {
  border: 1px solid var(--typography-colour);
}

.theme-btn svg:last-child {
  display: none;
}

.darktheme .theme-btn svg:first-child {
  display: none;
}

.darktheme .theme-btn svg:last-child {
  display: block;
}

.theme-btn svg {
  width: 50%;
  height: 50%;
  color: var(--typography-colour);
  transition: color 0.3s ease;
  stroke-width: 1.5;
}

.loader {
  position: fixed;
  inset: 0;
  background: var(--background-colour);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader-svg {
  width: 150px;
  height: 150px;
}

.bg-circle {
  stroke: rgba(255, 255, 255, 0.1);
}

.progress-circle {
  opacity: 0;
  visibility: hidden;
  stroke: var(--accent-colour);
  stroke-linecap: round;
}

.loader-text {
  font-size: 2rem;
  fill: var(--typography-colour);
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  header {
    height: 6rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-colour);
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.573);
    padding: 2rem;
  }

  .mobile-cart-container {
    display: flex;
  }

  .nav-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60vw;
    flex-direction: column;
    background-color: var(--product-card-bg);
    justify-content: flex-start;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.573);
    gap: 1rem;
  }

  .nav-logo {
    height: 6rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: var(--background-colour);
  }

  .nav-logo a {
    font-size: 2rem;
    padding: 0.5rem;
  }

  .nav-menu {
    height: fit-content;
    padding: 5rem 0;
    width: 100%;
    background-color: var(--background-colour);
  }

  .nav-menu.sub {
    flex-direction: column;
  }

  #dropdown-arrow {
    display: none;
  }

  .navlinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 0;
    padding: 1rem;
    gap: 2rem;
  }

  .navlinks li {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid var(--product-card-bg);
    display: flex;
    justify-content: flex-start;
  }

  .navlinks li a,
  .navlinks span {
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 1.6rem;
    text-transform: capitalize;
    padding: 1rem 2rem;
  }

  .navlinks span {
    display: flex;
    justify-content: space-between;
  }

  #category-parent svg {
    fill: var(--typography-colour);
  }

  #category-parent {
    display: flex;
  }

  #back-to-nav {
    align-self: flex-start;
    outline: none;
    width: 50%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border: none;
    background: none;
    color: var(--typography-colour);
  }

  #back-to-nav svg {
    fill: var(--typography-colour);
  }

  .navlinks span:hover {
    color: var(--accent-colour);
    font-weight: bold;
  }

  .closeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo {
    width: 100%;
    text-align: center;
  }

  .logo a {
    font-size: 1.7rem;
    margin: 0;
    line-height: 1.7rem;
  }

  .header-actions {
    margin-top: auto;
    background-color: var(--background-colour);
    height: fit-content;
    width: 100%;
    flex-direction: row;
    padding: 0;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }

  .login-container {
    flex-direction: row-reverse;
    padding: 2rem 1rem;
  }

  .burger-container {
    display: block;
  }

  .back-to-top {
    width: 4rem;
    height: 5rem;
    font-size: 18px;
  }

  .search-overlay {
    height: 30%;
  }

  .search-icon {
    display: none;
  }

  .search-icon.mobile {
    display: block;
  }

  li.dropdown {
    display: none;
  }

  .cart-holder {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .theme-btn {
    top: 8rem;
  }
}
